---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About">
  <div class="text-lg font-normal">
    <div class="py-10">
      As Data Science comes into its own, data visualization plays an essential
      role in making sense of the billions of data generated daily. Data
      visualization helps tell stories by representing data in a way that is
      easier to understand, highlighting trends, outliers, and patterns. A good
      visualization tells a story, removing noise from the data and highlighting
      valuable information. Both data and visual elements must work together,
      and only the art of combining these elements generates an effective and
      efficient visualization.
    </div>
    <div class="pb-10">
      Given the importance of Visualization in Data Science, in 2018, we decided
      to create the research group "Visual Data Science Lab" at the School of
      Applied Mathematics of the Getulio Vargas Foundation, led by Professor
      Jorge Poco. Our group’s mission is to create
      <strong class="font-semibold"><u>techniques</u></strong>
      and tools that <strong class="font-semibold"
        ><u>amplify humans’ analytical and cognitive</u></strong
      >
      capabilities through
      <strong class="font-semibold"><u>visual</u></strong> and <strong
        class="font-semibold"><u>interactive mechanisms </u></strong
      >.
    </div>
    <div class="pb-10">
      Our research work balances automatic methods with human intervention to
      improve performance. We create interactive systems that aid the process of
      data exploration and analysis using automation based on machine learning
      and artificial intelligence. In addition, we seek excellence in impact
      publications in Computer Science and Data Science with applications to
      problems that affect our society. That is why our research projects have
      inter-, cross- and multidisciplinary groups.
    </div>
  </div>
</Layout>
