---
import basePublications from "../data/publications.json";
import PublicationCard from "../components/PublicationCard.astro";
import NewsItem from "../components/NewsItem.astro";
import Layout from "../layouts/Layout.astro";
import Slider from "../components/Slider.astro";
import type { ExtendedPublication } from "../types/publication";
import { extendPublications } from "../lib/utils";

const LAST_PAPER_INDEX = 7;

const lastEightPublications = basePublications
  .sort(
    (a, b) => new Date(b.pub_date).getTime() - new Date(a.pub_date).getTime()
  )
  .slice(0, LAST_PAPER_INDEX);

const extendedPublications: ExtendedPublication[] = extendPublications(
  lastEightPublications
);
---

<Layout>
  <div class="pt-6 max-h-88 h-full">
    <Slider />
  </div>
  <div class="px-2 py-8">
    <div class="grid grid-cols-4 gap-8">
      <!-- Publications -->
      <div class="w-full col-span-3">
        <h2 class="text-xl font-semibold pb-6">
          Recent Publications
          <a
            href="/papers"
            class="hover:text-orange-500 hover:underline font-thin text-sm"
            >(VIEW ALL PAPERS)</a
          >
        </h2>
        <div class="space-y-2">
          {extendedPublications.map((pub) => <PublicationCard {...pub} />)}
        </div>
      </div>

      <!-- News -->
      <!-- <div class="w-full col-span-1 pt-3">
            <h2 class="text-xl font-semibold pb-6">News</h2>
            <div>
              {publications.news.map((item) => <NewsItem {...item} />)}
            </div>
          </div> -->
    </div>
  </div>
</Layout>
