<footer class="flex justify-center items-center py-3 text-lg">
  <div class="">&copy; 2025 Copyright,
    <a href="http://www.visualdslab.com/" class="hover:text-orange-500 hover:underline">
        visualdslab.com
    </a>
  </div>
</footer>