---
interface Props {
  date: string;
  text: string;
  id: number;
}

const { date, text, id } = Astro.props;
---

<div class="text-sm mb-6">
  <div class="italic">{date}</div>
  <div class="py-1">
    <Fragment set:html={text} />
  </div>
</div>