---
import Layout from "../../layouts/Layout.astro";
import projectsData from "../../data/projects.json";

interface Project {
  title: string;
  web_name: string;
  figure: string;
  abstract: string;
  description?: string;
}

export async function getStaticPaths() {
  const projects = projectsData;
  return projects
    .filter((item) => item.visible === true)
    .map((project) => ({
      params: { slug: project.web_name },
      props: { project },
    }));
}

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<Layout>
  <div class="lg:py-8 space-y-4 lg:space-y-8">
    <h1 class="font-bold text-center text-2xl">{project.title}</h1>

    <div class="flex justify-center">
      <img
        src={`http://visualdslab.com/static/images${project.figure}`}
        alt={project.title}
      />
    </div>

    <!-- Abstract section -->
    <div class="space-y-2 lg:space-y-4">
      <h2 class="text-base font-medium">ABSTRACT</h2>
      <p>{project.abstract}</p>
    </div>

    <!-- Researchers section -->
    <section class="space-y-2 lg:space-y-4">
      <h2 class="text-base font-medium">RESEARCHERS</h2>
      <ul class="list-disc">
        <li class="flex items-center">
          <span class="text-gray-700">Giovani Valdrighi, FGV EMAp (former)</span
          >
        </li>
        <li class="flex items-center">
          <span class="text-gray-700">Nivan Ferreira, UFPE</span>
        </li>
        <li class="flex items-center">
          <span class="text-gray-700">Jorge Poco, FGV EMAp</span>
        </li>
        <li class="flex items-center">
          <span class="text-gray-700">Elio Rodriguez, FGV EMAp (former)</span>
        </li>
      </ul>
    </section>

    <!-- Researchers section -->
    <section class="space-y-2 lg:space-y-4">
      <h2 class="text-base font-medium">PUBLICATIONS</h2>
    </section>
  </div>
</Layout>
